- deploy:
    images:
      image:
        url: '{{ node.artifacts.kernel }}'
      dtb:
        url: '{{ node.artifacts.dtb }}'
      {% if node.artifacts.firmware %}
      ramdisk_firmware:
        url: '{{ node.artifacts.firmware }}'
      {% endif %}
      ramdisk:
        url: '{{ node.artifacts.ramdisk }}'
        compression: gz
        format: cpio.newc
        overlays:
          lava: true
{% filter indent(width=10) %}
{% block testoverlays %}{% endblock %}
{% endfilter %}
{% set dtb_path = node.artifacts.dtb.split('?')[0] %}
{% set dtb_name = dtb_path.split('/')[-1] %}
{% if node.artifacts.firmware %}
{% set firmware_path = node.artifacts.firmware.split('?')[0] %}
{% set firmware_name = firmware_path.split('/')[-1] %}
{% endif %}
{% set ramdisk_path = node.artifacts.ramdisk.split('?')[0] %}
{% set ramdisk_name = ramdisk_path.split('/')[-1] %}
    postprocess:
      docker:
        image: artifacts.codelinaro.org/clo-420-qli-registry/kmake-image-ci:ver.1.0
        steps:
        - gunzip -c {{ ramdisk_name }} > initramfs-kerneltest-full-image-qcom-armv8a.cpio
        {% if firmware_name %}
        - gunzip -c {{ firmware_name }} > initramfs-firmware-rb3gen2-image-qcom-armv8a.cpio
        - cat initramfs-kerneltest-full-image-qcom-armv8a.cpio initramfs-firmware-rb3gen2-image-qcom-armv8a.cpio > merged-initramfs.cpio
        {% else %}
        - cat initramfs-kerneltest-full-image-qcom-armv8a.cpio > merged-initramfs.cpio
        {% endif %}
        - gzip merged-initramfs.cpio
        - mkbootimg --header_version 2 --kernel Image --dtb {{ dtb_name }} --cmdline "console=ttyMSM0,115200n8 earlycon qcom_geni_serial.con_enabled=1 kernel.sched_pelt_multiplier=4 mem_sleep_default=s2idle mitigations=auto video=efifb:off" --ramdisk merged-initramfs.cpio.gz --output boot.img
    to: downloads

- deploy:
    images:
      boot:
        url: 'downloads://boot.img'
    timeout:
      minutes: 2
    to: download

- boot:
    prompts:
    - 'root@[^:]+:~# '
    failure_retry: 3
    timeout:
      minutes: 10
    timeouts:
      bootloader-commands:
        minutes: 3
      auto-login-action:
        minutes: 10
    method: fastboot
